nav .nav-wrapper{
  margin-top: -33px;
  background: purple;
}

h1{
  font-size: 30px;
  padding: 10px;

}

.highlight{
  margin-top: 83px
}

.input-field{
  margin-top: 40px;
}

.modal .modal-footer .btn{
  margin: 25px 10px;
  background: purple;
}
